@font-face {
    font-family: PlayBall;
    src: url(../font/Playball.ttf);
}
body,input,textarea,select{
		font-family: 'PlayBall', sans-serif;
		letter-spacing: 0.5px;
}
body{
	margin: 0px;
	padding: 0px;
}
.block{display: block;}