@font-face {
    font-family: Birds;
    src: url(../font/Birds.ttf);
}
body{
	font-family: 'Gabriola', sans-serif;
	margin: 0px;
	padding: 0px;
}
div{
	width: 49.9%;
	display: inline-block;
}
label{
	text-align: center;
	font-size: 40px;
}
input{
	text-align: center;
	font-family: 'Gabriola', sans-serif;
	font-size: 25px;					
	margin: 0 auto;
	display: inline-block;
}
.block{
	display: block;
}
#imageperso{
	display: none;
}