html{height: 100%;}
body{
	height: 100%;
	width: 100%;
	background-image: url(../img/backgroundIndex.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}
input{
	text-align: center;
	font-size: 25px;					
	margin: 0 auto;
	padding: 5px 10px;
	background-image: url(../img/boutonIndex.jpg);
	background-position: center;
	color : #573900;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type='submit']{
	margin-top: 30px;
	border-color: #E7A854;
	box-shadow: 0px 0px 20px #5B3C11;
}
input[type='text'],input[type='password']{
	border-color: #cc9b25;
}
label{
	padding-top: 10%;
	font-size: 50px;
	margin-bottom: 50px;
	color : #573900;
}
.Menu{
	position: absolute;
	top: 6%;
	right: 5%;
	border: 2px solid;
	border-left-color: #DDD;
	border-top-color: #DDD;
	border-bottom-color: #A77824;
	border-right-color: #A77824;
	font-size: 25px;
	color : #573900;
	text-decoration: none;
	background-image: url(../img/boutonIndex.jpg);
	background-position: center;
	box-shadow: 0px 0px 20px #5B3C11;
	padding: 5px 15px;
}